.logo-lg img {
    height: 40px;
}

.commit-item {
    border-bottom: solid 1px #e5e5e5;
    padding: 15px 20px;
}

.commit-photo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
}

.commit-detail {
    margin-left: 20px;
}


pre {
    background: none;
    padding: 0px;
    border: none;
}

.profile-photo {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: contain;
    border-radius: 50px;
    margin: 0 auto;
}

.chat-textarea {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 0;
}